*{
    padding: 0;
    margin: 0;
}/* 设置框架与网页的距离 */
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}/* 创建游戏框架 */
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    /*设置角色*/
    position: relative;
    top: 150px;
    /*设置角色位置*/
}/* 创建玩家角色 */
#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    /*设置墙*/
    position: relative;
    top: 130px;
    left: 480px;
    /*设置位置*/
    animation: block 5s;
}/* 创建墙 */
@keyframes block{
    0%{left:300px;}
    100%{left:40px;}
}
